body {
   font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(R.jpeg);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: 50px auto;
   background-image: url(blue\ background\ img.jpg);
   background-size: cover;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: transparent;
    font-style: italic;
    font-size: 60px;
    font-weight: 900;
    -webkit-text-stroke: 2.5px black;
    text-decoration: underline rgb(13, 12, 15);
}

.app {
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover{
    background-color: rgb(19, 16, 12);
    color: white;
}
button {
    padding: 8px 12px;
    background-color: #e61ad9;
    color: #fff;
    border: none;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #fffefe;
    color: #01010e;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: rgb(248, 247, 247);
    margin-top: 10px;
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #0c0b0b;
}

li:last-child {
    border-bottom: none;
}
